*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# MacOS
.DS_Store

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

.extra
.gitconfig
.gnupg
!.gnupg/gpg*.conf

.vim/plugged/
