[user]
	name = David Bliss
	email = {{ .git.email }}
{{ if not (hasPrefix "JAMF" .chezmoi.hostname) }}
	signingkey = {{ onepasswordRead "op://Private/Signing SSH Key/public key" }}
{{- end -}}
[core]
	autocrlf = input
[pull]
	rebase = true
[init]
	defaultBranch = main

{{- if not (hasPrefix "JAMF" .chezmoi.hostname) }}
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/opt/1Password/op-ssh-sign"
[commit]
	gpgsign = true
{{- end }}

