[user]
	name = David Bliss
	email = {{ .git.email }}
[core]
	autocrlf = input
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main

{{- if not (hasPrefix "JAMF" .chezmoi.hostname) }}
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/opt/1Password/op-ssh-sign"
[commit]
	gpgsign = true
{{- end }}

