#!/usr/bin/env zsh

# If MacOS and 1password `op` command is installed, then setup symlink for SSH integration.

{{ if eq .chezmoi.os "darwin" }}
if command -v op 2>/dev/null; then
	mkdir -p ~/.1password
	ln -s ~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock ~/.1password/agent.sock
fi
{{ end }}
